# Pandas

Pandas is a powerful open-source data analysis and manipulation library for Python. It provides easy-to-use data structures and functions for efficiently working with structured data such as tabular, time series, and matrix data.

## Import Pandas

In [1]:
import pandas as pd #Imports the Pandas library into your Python code with the alias pd
import numpy as np #Imports the NumPy  library into your Python code with the alias np

Pandas has two objects, namely series and data frames.

# Data Frame
Data Frame is a collection of series, with at least one series.

## Convert Data Series into Data Frame

In [2]:
#Data Series

dict_price = {"Book" : 2500,
             "Eraser" : 500,
             "Ruler" : 1200,
             "Pen" : 1500,
             "Pencil" : 1000}

dict_stock = {"Book" : 1000,
             "Eraser" : 200,
             "Ruler" : 100,
             "Pen" : 300,
             "Pencil" : 500}

In [3]:
#dictionary to series transformation

price = pd.Series(dict_price)
price

Book      2500
Eraser     500
Ruler     1200
Pen       1500
Pencil    1000
dtype: int64

In [4]:
#dictionary to series transformation

stock = pd.Series(dict_stock)
stock

Book      1000
Eraser     200
Ruler      100
Pen        300
Pencil     500
dtype: int64

In [5]:
store = pd.DataFrame({'price': price, 'stock': stock})
store

        price  stock
Book     2500   1000
Eraser    500    200
Ruler    1200    100
Pen      1500    300
Pencil   1000    500

In [6]:
store['price']

Book      2500
Eraser     500
Ruler     1200
Pen       1500
Pencil    1000
Name: price, dtype: int64

In [7]:
store['price']['Book':'Ruler'] #Explicit Index

Book      2500
Eraser     500
Ruler     1200
Name: price, dtype: int64

In [8]:
store['price'].iloc[0:4] #Implicit Index

Book      2500
Eraser     500
Ruler     1200
Pen       1500
Name: price, dtype: int64

## Data CSV

In [9]:
#Load csv data

df = pd.read_csv('Dataset/Disney.csv')

### head()

In [10]:
#See data from top

df.head(3) #By Default top show 5 top data, can be customized

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

### info()

In [11]:
#See data information about the DataFrame
#The information includes column count, labels, data types, memory usage, index range, and non-null value counts per column.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

### notnull()

In [12]:
df.notnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,True,True,True,True,True,False,True,True,True,True,True,True
1,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,False,True,True,True,True,True,True
4,True,True,True,False,True,False,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,True,True,True,True,True,True,True,True,True,True,True,True
1446,True,True,True,True,True,True,True,True,True,True,True,True
1447,True,True,True,True,True,True,True,True,True,True,True,True
1448,True,True,True,True,True,True,True,True,True,True,True,True
1449,True,True,True,True,True,True,True,True,True,True,True,True

In [13]:
#See total of data that not null

df.notnull().sum()

show_id         1450
type            1450
title           1450
director         977
cast            1260
country         1231
date_added      1447
release_year    1450
rating          1447
duration        1450
listed_in       1450
description     1450
dtype: int64

### isnull()

In [14]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,False,False,False,False,False,False,False,False,False,False,False,False
1446,False,False,False,False,False,False,False,False,False,False,False,False
1447,False,False,False,False,False,False,False,False,False,False,False,False
1448,False,False,False,False,False,False,False,False,False,False,False,False
1449,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
#See total of data null

df.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [38]:
# selecting rows in the DataFrame where the 'director' column is null or missing.

df[df.director.isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
6,s7,TV Show,Hawkeye,NaN,"Jeremy Renner, Hailee Steinfeld, Vera Farmiga,...",NaN,"November 24, 2021",2021,TV-14,1 Season,"Action-Adventure, Superhero",Clint Barton/Hawkeye must team up with skilled...
7,s8,TV Show,Port Protection Alaska,NaN,"Gary Muehlberger, Mary Miller, Curly Leach, Sa...",United States,"November 24, 2021",2015,TV-14,2 Seasons,"Docuseries, Reality, Survival",Residents of Port Protection must combat volat...
8,s9,TV Show,Secrets of the Zoo: Tampa,NaN,"Dr. Ray Ball, Dr. Lauren Smith, Chris Massaro,...",United States,"November 24, 2021",2019,TV-PG,2 Seasons,"Animals & Nature, Docuseries, Family",A day in the life at ZooTampa is anything but ...
11,s12,Movie,Puppy for Hanukkah,NaN,NaN,NaN,"November 19, 2021",2020,TV-G,4 min,"Comedy, Family, Music","Check out Daveed Digg's official music video ""..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1417,s1418,TV Show,X-Men: Evolution,NaN,"Noel Fisher, Vincent Gale, Christopher Judge, ...",United States,"November 12, 2019",2000,TV-Y7,4 Seasons,"Action-Adventure, Animation, Kids",X-Men: Evolution features the team as teenager...
1434,s1435,TV Show,Smart Guy,NaN,"Tahj Mowry, John Jones, Jason Weaver, Essence ...",United States,"October 1, 2019",1996,TV-G,3 Seasons,"Comedy, Coming of Age, Kids",A genius tries to fit in as a high school soph...
1439,s1440,TV Show,Disney Kirby Buckets,NaN,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,NaN,2014,TV-Y7,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.
1440,s1441,TV Show,Disney Mech-X4,NaN,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,NaN,2016,TV-Y7,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...
1441,s1442,TV Show,Imagination Movers,NaN,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,NaN,2008,TV-Y,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J..."

### tail()

In [16]:
#By Default will show 5 last data from bottom

df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

### shape

In [17]:
#Show Total Row and Total Column

df.shape

(1450, 12)

### columns

In [18]:
#Get the label of each column in the DataFrame.

df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

### index

In [19]:
#Returns a returns the index information of the DataFrame

df.index

RangeIndex(start=0, stop=1450, step=1)

### describe()

In [20]:
#Generate descriptive statistics of the numerical (or categorical) data in the DataFrame
#such as count, mean, standard deviation, minimum, maximum, and quartile values for each numerical column in the DataFrame.

df.describe()

       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000

### mean()

In [21]:
#Get mean (average value) from release_year column

df['release_year'].mean()

2003.0917241379311

### median()

In [22]:
#Get median (mid point value) from release_year column

df['release_year'].median()

2011.0

### mode()

In [23]:
#Get mode (most common value) from release_year column

df['release_year'].mode()[0]

2021

### max()

In [24]:
#Get max (max of the value) from release_year column

df['release_year'].max()

2021

### min()

In [25]:
#Get min (max of the value) from release_year column

df['release_year'].min()

1928

### unique

In [27]:
#Retrieves the unique values from the column in the DataFrame.

df.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [28]:
#Retrieve the unique values in the column of the DataFrame

df['type'].unique

<bound method Series.unique of 0         Movie
1         Movie
2         Movie
3         Movie
4       TV Show
         ...
1445      Movie
1446      Movie
1447      Movie
1448      Movie
1449      Movie
Name: type, Length: 1450, dtype: object>

In [29]:
#Used to count the number of unique values in the column of the DataFrame

df.type.nunique()

2

### value_counts()

In [30]:
#Ssed to count the occurrences of each unique values in the column of the DataFrame

df.type.value_counts()

type
Movie      1052
TV Show     398
Name: count, dtype: int64

### Get Specified Columns

In [31]:
#Retrieve Specified Coloumn

df[['title','type','director','country','release_year']]

,title,type,director,country,release_year
0,Duck the Halls: A Mickey Mouse Christmas Special,Movie,"Alonso Ramirez Ramos, Dave Wasson",NaN,2016
1,Ernest Saves Christmas,Movie,John Cherry,NaN,1988
2,Ice Age: A Mammoth Christmas,Movie,Karen Disher,United States,2011
3,The Queen Family Singalong,Movie,Hamish Hamilton,NaN,2021
4,The Beatles: Get Back,TV Show,NaN,NaN,2021
...,...,...,...,...,...
1445,X-Men Origins: Wolverine,Movie,Gavin Hood,"United States, United Kingdom",2009
1446,Night at the Museum: Battle of the Smithsonian,Movie,Shawn Levy,"United States, Canada",2009
1447,Eddie the Eagle,Movie,Dexter Fletcher,"United Kingdom, Germany, United States",2016
1448,Bend It Like Beckham,Movie,Gurinder Chadha,"United Kingdom, Germany, United States",2003
1449,Captain Sparky vs. The Flying Saucers,Movie,Mark Waring,United States,2012

In [32]:
#Another way to retrieve specific columns from the DataFrame

sel_columns = ['title','type','director','country','release_year']
df[sel_columns]

,title,type,director,country,release_year
0,Duck the Halls: A Mickey Mouse Christmas Special,Movie,"Alonso Ramirez Ramos, Dave Wasson",NaN,2016
1,Ernest Saves Christmas,Movie,John Cherry,NaN,1988
2,Ice Age: A Mammoth Christmas,Movie,Karen Disher,United States,2011
3,The Queen Family Singalong,Movie,Hamish Hamilton,NaN,2021
4,The Beatles: Get Back,TV Show,NaN,NaN,2021
...,...,...,...,...,...
1445,X-Men Origins: Wolverine,Movie,Gavin Hood,"United States, United Kingdom",2009
1446,Night at the Museum: Battle of the Smithsonian,Movie,Shawn Levy,"United States, Canada",2009
1447,Eddie the Eagle,Movie,Dexter Fletcher,"United Kingdom, Germany, United States",2016
1448,Bend It Like Beckham,Movie,Gurinder Chadha,"United Kingdom, Germany, United States",2003
1449,Captain Sparky vs. The Flying Saucers,Movie,Mark Waring,United States,2012

In [33]:
#Filters DataFrame to select rows where the value in the 'release_year' column equals 1998.

df[df['release_year']==1998]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
89,s90,TV Show,Rolie Polie Olie,NaN,"Cole Caplan, Kristen Bone, Robert Smith, Cathe...","Canada, United States, France","September 29, 2021",1998,TV-Y,5 Seasons,"Animation, Science Fiction",Rolie Polie Olie’s life and adventures center ...
408,s409,Movie,Ever After: A Cinderella Story,Andy Tennant,"Drew Barrymore, Anjelica Huston, Dougray Scott...",United States,"September 18, 2020",1998,PG-13,122 min,"Drama, Romance",A young woman falls in love with a prince whil...
713,s714,Movie,A Bug's Life,John Lasseter,"Dave Foley, Kevin Spacey, Julia Louis-Dreyfus,...",United States,"November 12, 2019",1998,G,98 min,"Animation, Comedy, Family",Flik goes in search of warriors to help battle...
743,s744,Movie,Beauty and the Beast: Belle's Magical World,Bob Kline,"Robby Benson, Paige O'Hara, David Stiers, Jerr...",United States,"November 12, 2019",1998,G,71 min,"Animation, Anthology, Fantasy","In three short stories, see Belle make a gloom..."
763,s764,Movie,Brink!,Greg Beeman,"Erik von Detten, Sam Horrigan, Christina Vidal...",United States,"November 12, 2019",1998,TV-G,90 min,"Coming of Age, Drama, Sports",An in-line skater quits his crew to join a cor...
845,s846,TV Show,Disney's Hercules: The Animated Series,NaN,"Tate Donovan, Sandra Bernhard, Robert Costanzo...",United States,"November 12, 2019",1998,TV-Y7,1 Season,"Action-Adventure, Animation, Comedy",Follow Herc's many labors during the years he ...
926,s927,Movie,Halloweentown,Duwayne Dunham,"Debbie Reynolds, Judith Hoag, Kimberly Brown, ...",United States,"November 12, 2019",1998,TV-PG,84 min,"Action-Adventure, Comedy, Coming of Age",Marnie and her siblings discover their spooky ...
957,s958,Movie,I'll Be Home for Christmas,Arlene Sanford,"Jonathan Thomas, Jessica Biel, Adam LaVorgna, ...","United States, Canada","November 12, 2019",1998,PG,87 min,"Action-Adventure, Comedy, Coming of Age",A jokester zooms home for Christmas with a pri...
1066,s1067,Movie,Meet the Deedles,Steve Boyum,"Paul Walker, Steve Wormer, John Ashton, A.J. L...",United States,"November 12, 2019",1998,PG,94 min,"Buddy, Comedy",Two surfer dudes try to stop an ex-park ranger...
1080,s1081,Movie,Mighty Joe Young,Ron Underwood,"Bill Paxton, Charlize Theron, Rade Šerbedžija,...",United States,"November 12, 2019",1998,PG,116 min,"Action-Adventure, Animals & Nature, Family","Taken to Hollywood to hide, a mighty gorilla i..."
1084,s1085,Movie,Miracle at Midnight,Ken Cameron,"Sam Waterston, Mia Farrow, Justin Whalin, Patr...",United States,"November 12, 2019",1998,TV-14,89 min,"Drama, Historical",A family risks their lives to help their neigh...
1115,s1116,TV Show,Out of the Box,NaN,"Vivian Bayubay, Tony James, Jill Schackner, Al...",United States,"November 12, 2019",1998,TV-G,3 Seasons,Kids,A group of children come and play in a clubhou...
1142,s1143,Movie,Pocahontas II: Journey to a New World,"Bradley Raymond, Tom Ellery","Irene Bedard, Jim Cummings, Donal Gibson, Fino...",United States,"November 12, 2019",1998,G,77 min,"Action-Adventure, Animation, Family",Pocahontas sets sail for England and the allur...
1164,s1165,Movie,Richie Rich's Christmas Wish,John Murlowski,"David Gallagher, Eugene Levy, Keene Curtis, Ja...",United States,"November 12, 2019",1998,G,85 min,"Action-Adventure, Comedy, Family",A wishing machine transports Richie Rich to an...
1172,s1173,Movie,Ruby Bridges,Euzhan Palcy,"Penelope Miller, Kevin Pollak, Michael Beach, ...",United States,"November 12, 2019",1998,TV-PG,90 min,"Biographical, Drama, Historical",A little girl becomes the first African-Americ...
1261,s1262,Movie,The Brave Little Toaster Goes to Mars,Robert Ramirez,"Deanna Oliver, Tim Stack, Roger Kabler, Thurl ...",United States,"November 12, 2019",1998,TV-G,73 min,"Action-Adventure, Animation, Kids",Toaster and his friends head for Mars to bring...
1293,s1294,Movie,The Jungle Book: Mowgli's Story,Nick Marck,"Brandon Baker, Sherman Howard, Clancy Brown, P...",United States,"November 12, 2019",1998,G,77 min,"Action-Adventure, Coming of Age, Family",Mowgli reflects on his childhood jungle advent...
1296,s1297,Movie,The Lion King 2: Simba's Pride,Darrell Rooney,"Matthew Broderick, Neve Campbell, Andy Dick, R...","United States, Australia","November 12, 2019",1998,G,84 min,"Action-Adventure, Animation, Family",Simba's strong-willed daughter befriends the h...
1315,s1316,Movie,The Parent Trap,Nancy Meyers,"Dennis Quaid, Natasha Richardson, Lisa Walter,...","United States, United Kingdom","November 12, 2019",1998,PG,129 min,"Comedy, Family, Romance",Identical twins scheme to switch places and re...
1420,s1421,Movie,You Lucky Dog,Paul Schneider,"Kirk Cameron, Chelsea Noble, John de Lancie, C...",United States,"November 12, 2019",1998,TV-G,88 min,"Comedy, Fantasy",Jack Morgan discovers a psychic connection bet...

In [34]:
#Filters DataFrame to select rows where the value in the 'release_year' column is greater than 2000.

df[df['release_year']>2000]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
5,s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,"November 24, 2021",2021,PG-13,94 min,"Biographical, Documentary",An inside look at the legendary life of advent...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [35]:
#filters DataFrame rows where 'release_year' is greater than '2000' and 'type' column is 'Movie'.

df[(df['release_year']>2000) & (df['type']=='Movie')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
5,s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,"November 24, 2021",2021,PG-13,94 min,"Biographical, Documentary",An inside look at the legendary life of advent...
9,s10,Movie,A Muppets Christmas: Letters To Santa,Kirk R. Thatcher,"Steve Whitmire, Dave Goelz, Bill Barretta, Eri...",United States,"November 19, 2021",2008,G,45 min,"Comedy, Family, Musical",Celebrate the holiday season with all your fav...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [36]:
#Filters DataFrame rows where the value in the 'release_year' column is greater than 1990 and less than 2010.

df[((df['release_year']>1990) & (df['release_year']<2010))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9,s10,Movie,A Muppets Christmas: Letters To Santa,Kirk R. Thatcher,"Steve Whitmire, Dave Goelz, Bill Barretta, Eri...",United States,"November 19, 2021",2008,G,45 min,"Comedy, Family, Musical",Celebrate the holiday season with all your fav...
12,s13,Movie,The Pixar Story,Leslie Iwerks,"Stacy Keach, John Lasseter, Brad Bird, John Mu...",United States,"November 19, 2021",2007,G,91 min,"Documentary, Family",A groundbreaking company forever changes the f...
19,s20,Movie,Enchanted,Kevin Lima,"Amy Adams, Patrick Dempsey, James Marsden, Tim...",United States,"November 12, 2021",2007,PG,110 min,"Comedy, Family, Fantasy",An animated princess winds up in the real worl...
35,s36,Movie,The Little Matchgirl,Roger Allers,NaN,United States,"November 12, 2021",2006,G,7 min,"Animation, Drama",A poor matchgirl sees happy images in the flam...
43,s44,Movie,Jingle All The Way,Brian Levant,"Arnold Schwarzenegger, Sinbad, Phil Hartman, R...",United States,"November 5, 2021",1996,PG,90 min,"Comedy, Family",A father's Christmas Eve turns into a madcap s...
...,...,...,...,...,...,...,...,...,...,...,...,...
1443,s1444,Movie,Aquamarine,Elizabeth Allen Rosenbaum,"Jake McDorman, Arielle Kebbel, Claudia Karvan,...",United States,"August 13, 2021",2006,PG,104 min,"Comedy, Coming of Age, Fantasy",Two 13-year-old best friends embark on an adve...
1444,s1445,Movie,Ice Age: Dawn Of The Dinosaurs,Carlos Saldanha,"Ray Romano, John Leguizamo, Denis Leary, Simon...","United States, United Kingdom, Australia","June 4, 2021",2009,PG,97 min,"Animation, Comedy, Family",Our prehistoric pals visit a world inhabited b...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...

In [37]:
#Filters the rows where 'release_year' is greater than 1990 or the value in the 'type' column is 'Movie'.

df[['title','type','director','country','release_year']][(df['release_year']>1990) | (df['type']=='Movie')]

,title,type,director,country,release_year
0,Duck the Halls: A Mickey Mouse Christmas Special,Movie,"Alonso Ramirez Ramos, Dave Wasson",NaN,2016
1,Ernest Saves Christmas,Movie,John Cherry,NaN,1988
2,Ice Age: A Mammoth Christmas,Movie,Karen Disher,United States,2011
3,The Queen Family Singalong,Movie,Hamish Hamilton,NaN,2021
4,The Beatles: Get Back,TV Show,NaN,NaN,2021
...,...,...,...,...,...
1445,X-Men Origins: Wolverine,Movie,Gavin Hood,"United States, United Kingdom",2009
1446,Night at the Museum: Battle of the Smithsonian,Movie,Shawn Levy,"United States, Canada",2009
1447,Eddie the Eagle,Movie,Dexter Fletcher,"United Kingdom, Germany, United States",2016
1448,Bend It Like Beckham,Movie,Gurinder Chadha,"United Kingdom, Germany, United States",2003
1449,Captain Sparky vs. The Flying Saucers,Movie,Mark Waring,United States,2012